/*
Modify this file before starting/adding the service. 
Rename to config.js
*/
var config = {}

config.saveMode = "sqlite"; // use a string or an array of strings e.g. ["sqlite","api"]

config.dbFile = "data.db";
config.dbServerPort = 38028;

config.api_endpoint = "http://YOUR_API_ENDPOINT";
config.access_token = "some sort of access token to keep you safe :^)";
config.deviceName = "My Computer";
config.adapterName = "Network Controller";

config.localPlotType = "plot"; // possible values: sparkline, plot

if (typeof module !== "undefined")
	module.exports = config;